
Project_1/.ipynb_checkpoints/Loic_Project1-checkpoint.ipynb
Project_1/.ipynb_checkpoints/Project1-checkpoint.ipynb
Project_2/.ipynb_checkpoints/Project_2-checkpoint.ipynb
Project_4/.ipynb_checkpoints/Project_4-checkpoint.ipynb
Project_4/online_video_dataset/youtube_videos.tsv
Project_4/archive/master.csv
Project_4/online_video_dataset/transcoding_mesurment.tsv
